@font-face {
    font-family: "balooBold";
    src: url(/fonts/Baloo2-Bold\ \(1\).ttf);
}

@font-face {
    font-family: "balooSemiBold";
    src: url(/fonts/Baloo2-SemiBold.ttf);
}

@font-face {
    font-family: "balooRegular";
    src: url(/fonts/Baloo2-Regular.ttf);
}